/* LOADING */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--bg-color) 0%, 80%, #7d766a 100%);;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 3px;
}

.button-circle {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s;
}

.circle-1 {
  animation: morphing 5s linear infinite;
}

.circle-2 {
  animation: morphing 3s linear infinite reverse;
}

@keyframes morphing {
  0% {
      border-radius: 70% 50% 70% 50% / 66% 50% 70% 40%;
      transform: translate(-50%, -50%);
  }
  25% { 
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
      transform: translate(calc(-50% + 3px), calc(-50% + 3px));
  }
  50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  75% {
      border-radius: 33% 67% 58% 42% / 70% 50% 70% 50%;
      transform: translate(calc(-50% - 3px), calc(-50% - 3px));
  }
  100% {
      border-radius: 70% 50% 70% 50% / 66% 50% 70% 40%;
      transform: translate(-50%, -50%);
  }
}

/* MAP */
#map {
  height: 100%;
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 12px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border: 3px solid #080A9D;
  box-shadow: 1px 1px 1px 1px #080A9D;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/* FLOATING PANEL */

#floating-panel-wrapper{
  background-color: #f5f5f5;
  top: 10px;
  right: 10px;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
}

#floating-panel {
  display: flex;
  flex-direction: column;
}

#floating-panel p {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 5px 0;
  padding-left: 2em;
}

#floating-panel input {
  font-size: 0.8em;
  text-transform: uppercase;
  padding-left: 2em;
}

#floating-panel .option {
  margin: 5px 0;
  padding-left: 2em;
}

#floating-panel-toggle {
  text-transform: uppercase;
  font-size: 0.85em;
  background-color: #fff;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: grey 0 0 4px;
}

#floating-panel-toggle:hover {
  background-color: #f5f5f5;
}

/* RANGE SELECTOR */
#range {
  position: relative;
  height: 5px;
  margin: 5px 2em;
  margin-top: 15px;
}

#range input {
  width: 100%;
  position: absolute;
  top: 0;
  left: -2px;
  height: 2px;
  padding-left: 0;
  -webkit-appearance: none;
  background-color: grey;
  outline: none;
}

#range input::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 14px;
  height: 14px;
  margin: -2px 0  0;
  border-radius: 50%;
  background: #17263b;
  cursor: pointer;
  border: 0 !important;
}
#range input::-moz-range-thumb {
  width: 14px;
  height: 14px;
  margin: -2px 0  0;
  border-radius: 50%;
  background: #17263b;
  cursor: pointer;
  border: 0 !important;
}
#range input::-ms-thumb {
  width: 14px;
  height: 14px;
  margin: -2px 0  0;
  border-radius: 50%;
  background: #17263b;
  cursor: pointer;
  border: 0 !important;
}

.range-labels {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;
  list-style: none;
}

.range-labels .active {
  color: white;
  background-color: #17263b;
}

.range-labels .selected::before {
  background: #17263b;
}

.range-labels .active .selected::before {
  display: none;
}

.range-labels li {
  position: relative;
  float: left;
  width: 50px;
  text-align: center;
  color: grey;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 5px;
}

.range-labels li::before {
  position: absolute;
  top: -24px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 5px;
  height: 5px;
  background: #b2b2b2;
  border-radius: 50%;
}
.btn-group{
  margin-left: 25px;
}
.btn-group button {
  background-color: grey;
  font-size: 12px;
  border: 0.5px solid;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #17263b;
}
.btn-group button:focus{
    background-color:#17263b;
    border-color: #17263b
}
