#particles-js {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, var(--bg-color) 0%, 80%, #7d766a 100%);;
    z-index: -100;
}

html {
    overflow: hidden;
}

h1 {
    margin-top: 0;
    color: white;
    font-size: 4em;
    letter-spacing: 3px;
}

p {
    color: white;
    letter-spacing: 0.5px;
    line-height: 2em;
}

hr {
    margin: 30px 0;
    display: block;
}

button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.animate {
    transform: translateY(-50px);
}

/* Github icon */
#github {
    position: fixed;
    display: flex;
    align-items: center;
    margin: 1em;
    cursor: pointer;
    padding: 5px 10px;
    padding-top: 7px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
}

#github:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#github path {
    stroke: white;
}

#github p {
    margin: 0;
    margin-left: 10px;
}

#mapButton {
    transition: 0.2s;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Content */
#content {
    width: 70%;
    margin: 0 15%;
    position: absolute;
    top: 25%;
}

/* Image screen preview */
#image-wrapper {
    margin: 0 10%;
    margin-top: 5em;
    position: relative;
    width: 80%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}

#button-row {
    height: 18px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#button-row > div {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 0 5px;
}

#close {
    background-color: red;
}
#minimize {
    background-color: orange;
}
#expand {
    background-color: green;
}

#image-inner-wrapper {
    /* background-color: #979FAC; */
    position: relative;
    width: 100%;
    height: calc(100% - 18px);
    box-sizing: border-box;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

/* Button animation */
.button-wrapper {
    position: relative;
}

.button-wrapper:hover .button-circle, .button-wrapper:hover .button-circle2 {
    background-color: rgba(255, 255, 255, 0.08);
}

.button-circle {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    opacity: 0.2;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
}

.circle-1 {
    animation: morphing 5s linear infinite;
}

.circle-2 {
    animation: morphing 3s linear infinite reverse;
}

@keyframes morphing {
    0% {
        border-radius: 70% 50% 70% 50% / 66% 50% 70% 40%;
        transform: translate(-50%, -50%);
    }
    25% { 
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
        transform: translate(calc(-50% + 3px), calc(-50% + 3px));
    }
    50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    }
    75% {
        border-radius: 33% 67% 58% 42% / 70% 50% 70% 50%;
        transform: translate(calc(-50% - 3px), calc(-50% - 3px));
    }
    100% {
        border-radius: 70% 50% 70% 50% / 66% 50% 70% 40%;
        transform: translate(-50%, -50%);
    }
}