/* DEVICES */
@media only screen and (max-device-width: 768px) {
    * {
        font-size: 11px;
    }

    h1 {
        font-size: 2.5em;
    }

    hr {
        margin: 15px 0;
    }

    #content {
        width: 80%;
        margin: 0 10%;
    }

    #image-wrapper {
        width: 100%;
        margin: 5em 0 0 0;
    }

    .button-circle {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 767px) {
    * {
        font-size: 12px;
    }
}

@media only screen and (max-device-height: 650px) {
    #content {
        top: 12%;
    }

    #image-wrapper {
        height: 250px;
    }
}

@media only screen and (max-device-height: 768px) and (min-device-height: 651px) {
    #content {
        top: 15%;
    }

    #image-wrapper {
        height: 250px;
    }
}

@media only screen and (max-device-height: 1024px) and (min-device-height: 769px) {
    #content {
        top: 17%;
    }

    #image-wrapper {
        height: 250px;
    }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 767px) and (max-device-height: 1024px) and (min-device-height: 769px) {
    #content {
        top: 20%;
    }

    #image-wrapper {
        height: 350px;
    }
}

/* WINDOW SIZE */
@media only screen and (max-width: 600px) {
    #content {
        width: 90%;
        margin: 0 5%;
    }

    #image-wrapper {
        width: 100%;
        margin: 5em 0 0 0;
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    #content {
        width: 80%;
        margin: 0 10%;
    }

    #image-wrapper {
        width: 100%;
        margin: 5em 0 0 0;
    }
}

@media only screen and (max-height: 768px) {
    #content {
        top: 20%;
    }
}